%h1 All Articles
.d-flex
  - @articles.each do |article|
    = render 'article_card', article: article

= render 'shared/pagination', obj: @articles

%p
  = link_to 'Create new article', new_article_path, class: 'btn btn-primary'
