- if obj.errors.any?
  .alert.alert-danger.alert-dismissible.fade.show{ role: 'alert' }
    %h4.alert-heading The following errors prevented the #{obj.class.name.downcase} from being created
    %ul
      - obj.errors.full_messages.each do |msg|
        %li= msg
    %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", type: "button"}
