$headings-font-family: 'Roboto Slab'
$headings-font-weight: 400

@import "bootstrap";
@import "font-awesome";

$primary-color: #3498db
$secondary-color: #DB7734
$light-gray: #e5e5e5
$dark: #111

h1
  text-align: center

.blog-title
  font-size: 40px
  text-decoration: none

.navbar
  border-top: 1px solid $light-gray
  border-bottom: 1px solid $light-gray

.flex-1
  flex: 1

.blog-container
  a
    text-decoration: none

.hover-primary
  transition: all 0.3s ease-in-out

.hover-primary:hover
  color: $primary-color
