.col
  .card.shadow-sm.h-100
    .card-body.text-center.justify-content-between.d-flex.flex-column
      %div
        %a.text-decoration-none.text-dark{ href: category_path(category) }
          %h3.card-title= category.name
