- puts flash.to_json
- flash.each do |name, msg|
  .alert.alert-dismissible.fade.show{ role: 'alert', class: name == 'error' ? 'alert-danger' : 'alert-success' }
    = msg
    %button.btn-close{ "data-bs-dismiss" => "alert", "aria-label" => "Close" }
